{% extends 'base.html' %}

{% block title %}

  {{ event.event_name }}

{% endblock %}

{% block body %}
<div class="container mt-5">

  <h1> {{ event.event_name }} </h1>

  <a href="/events/{{ event.id }}/add_team" class="btn btn-warning"> Добавить </a>

  {% if list_event != [] %}

    {% for el in list_event %}

      <div class="form-group">
        <label for="IsValid" class="control-label col-md-2">IsValid</label>       
      <div class="col-md-2">
        <input type="checkbox" class="form-check-input" id="check_number" name="check_number" {% if el.check_number==1 %}checked{% else %}{% endif %}>
      </div>
      </div>


      <div class="alert alert-info">

        <form method="POST" action="/" class="d-inline">
           
          <h3>{{ el.number }}: {{ el.team.team_name}} <input type="checkbox"  name="check_number" class="form-check-input" {% if el.check_number==1 %}checked{% else %}{% endif %}> </h3>

        </form>

        <a href="/events/{{ event.id }}/{{ el.team.id }}/update_team" class="btn btn-warning"> Изменить порядок выхода </a>
        <a href="/events/{{ event.id }}/{{ el.team.id }}/delete_team" class="btn btn-warning"> Удалить </a>

      </div>

    {% endfor %}

  {% else %}

    <p> Номера еще не добавлены </p>

  {% endif %}

  <input type="submit" class="btn btn-success" value="Сохранить отметки">

</div>
{% endblock %}